.container {
  display: flex;
  gap: 20px;
  margin: 0 15px;
}

.genre_container {
  display: flex;
  gap: 15px;
}

.movie_img {
  width: 300px;
}

.none {
  display: none;
}

.ok {
  display: block;
}

.additionalInfo {
  margin: 0 15px;
}

.movie_title {
  margin: 10px 0;
}

.additiona_information {
  text-align: center;
  margin: 10px 0;
}

.tagline {
  font-style: italic;
  color: grey;
  margin: 10px 0px;
}

.overview {
  text-wrap: wrap;
}

.progressBar {
  appearance: none;
  height: 6px;
  border-radius: 100px;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: white;
    border-radius: 100px;
    border: 0.1px solid black;
  }

  &::-webkit-progress-value {
    background-color: #004170;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background: white;
    border-radius: 100px;
    border: 0.1px solid black;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.outlet_ul {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
