.field_container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.register_link {
  color: rgb(130, 80, 255);
}

.link_container {
  margin-top: 10px;
}

.submit_button {
  margin-top: 10px;
}

/* Загальний контейнер форми */
.form_container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стиль форми */
.form {
  display: flex;
  flex-direction: column;
}

/* Контейнер для полів вводу */
.field_container {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

/* Поля вводу */
.input_field {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input_field:focus {
  border-color: #007bff;
  outline: none;
}

/* Повідомлення про помилку */
.error_message {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}

/* Кнопка відправки */
.submit_button {
  padding: 10px 20px;
  background-color: #385170;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.submit_button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.submit_button:active {
  transform: translateY(0);
}

/* Контейнер для лінку */
.link_container {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

/* Лінк на сторінку реєстрації */
.register_link {
  color: #385170;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.register_link:hover {
  color: #0056b3;
}

.text {
  color: #222831;
}
