ul,
ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  width: fit-content;
  padding: 2px;
}

.button {
  border: none;
  background-color: transparent;
}

.input {
  border: none;
  width: 175px;
}

.movi_poster {
  width: 200px;
  height: var(--poster-height);
  margin: 0;
  padding: 0;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  min-height: var(--movie-card-height);
}

.movie_title {
  margin: 10px auto;
  text-align: center;
}

.movie_list_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.movie_list_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.name_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--movie-card-height) - var(--poster-height));
}
