.form_container {
  margin: 0 auto;
  max-width: 300px;
}

.field_container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.register_link {
  color: rgb(130, 80, 255);
}
